.card {
    width: 35rem;
    min-height: 80vh;
    background-color: $card-color;
    border-radius: 2em;
    padding: 0 5rem;

    transition: all .8s linear;
    transform-style: preserve-3d; 
    @extend %boxshadow;
}

.card:hover {
    background-color: #cfd8d7;
}

.sneaker {
    min-height: 35vh;
    @extend %displayFlexCenter;
    & > img {
        width: 100%;
        max-width: 20rem;
        z-index: map-get($zi , carrousel);
        @extend %transition;
    }
}

.circle {
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
    z-index: map-get($zi , raiz);
    background: linear-gradient(
        to right,
        $sec-color,
        $main-color
    );
}

.info {
    z-index: map-get($zi , tooltip);
    @extend %displayColumnCenter;
    &__sizes {
        width: 90%;
        @extend %displaySpaceB;
        & > button {
            border-radius: 30px;
            @extend %boxshadow-sec;
        }

        & > button.active {
            background-color: $opc-color;
            color: $white-color;
        }
    }

    &__purchase {
        width: 90%;
        min-height: 10rem;
        margin: 2rem;
        @extend %displayFlexCenter;
        & > button {
            width: 100%;
            font-size: $font-s;
            color: $white-color;
            background-color: $buy-color;
            letter-spacing: 1px;
            border-radius: 12px;
            @extend %transition;
        }
        & > button:hover {
            color: $buy-color;
            background-color: $background-color;
            border: none;
            transform: none;
        }
    }
}