/* ---------------- *\
        Globals
\* ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color;
    @extend %poppins;
    @extend %displayFlexCenter; 

    perspective: 1000px;
}

h1 {
    font-size: $font-s * 2;
    transition: all 0.75s ease-out;
}

h3 {
    font-size: $font-x;
    padding: 1.5rem 0;
    color: $opc-color;
    font-weight: 400;
}

button {
    padding: 0.8rem 1.4rem;
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: $black-color;
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
}