/* ---------------- *\
        Fonts
\* ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* ---------------- *\
        Variables
\* ---------------- */
$font-s: 16px;
$font-m: 20px;
$font-x: 24px; 

$background-color: #f0efeb;

$black-color: #212529;
$white-color: #f8f9fa;

$main-color: #11559C;
$sec-color: #F3433C;
$opc-color: #adb5bd;
$buy-color: #f2542d;
$card-color: #e9d6ca3b;

$zi : (
        raiz: 1000,
        carrousel: 1010,
        tooltip: 1020,
        navmenu: 1030,
        modal: 1040
);